<section class="about" id="about">
    <h1 class="about__title">Что такое Shuriken?</h1>
    <h3 class="about__description">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quas iste adipisci nisi, 
        impedit asperiores repellendus vero illo harum officia ea natus. Architecto quisquam esse 
        perspiciatis consequatur maiores asperiores exercitationem. Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Neque voluptatibus voluptas obcaecati fugiat ipsam natus ab provident molestiae 
        dolore impedit harum, id amet alias! Corporis non architecto maiores aperiam error.
        <br>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, accusamus maxime nostrum eum praesentium distinctio repellat ad iste neque sequi? Velit veniam nihil deserunt, molestias recusandae pariatur cupiditate eveniet ad.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem doloremque ipsa facilis optio iste cumque, reiciendis blanditiis, voluptatum quia architecto reprehenderit sed culpa nihil expedita, numquam voluptates cupiditate eius ut!
</h3>
</section>