<section class="features" id="features">
    <h3 class="features__title">Преимущества</h3>
    <div class="container">
        <div class="column">
            <i class="fa fa-code fa-4x"></i>
            <h4 class="column__title">Lorem ipsum</h4>
            <div class="column__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Accusantium exercitationem a facere distinctio ea soluta 
                mollitia quasi nam quisquam? Voluptatibus velit temporibus 
                illum porro eveniet voluptatem consectetur reiciendis quas assumenda!
            </div>
        </div>

        <div class="column">
            <i class="fa fa-code fa-4x"></i>
            <h4 class="column__title">Lorem ipsum</h4>
            <div class="column__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Accusantium exercitationem a facere distinctio ea soluta 
                mollitia quasi nam quisquam? Voluptatibus velit temporibus 
                illum porro eveniet voluptatem consectetur reiciendis quas assumenda!
            </div>
        </div>

        <div class="column">
            <i class="fa fa-code fa-4x"></i>
            <h4 class="column__title">Lorem ipsum</h4>
            <div class="column__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Accusantium exercitationem a facere distinctio ea soluta 
                mollitia quasi nam quisquam? Voluptatibus velit temporibus 
                illum porro eveniet voluptatem consectetur reiciendis quas assumenda!
            </div>
        </div>
    </div>
</section>