<main class="main">
    <div class="container">
        <div class="column">
            <h1 class="column__title">
                <span class="small">Мы&nbsp;обеспечиваем</span><br>       
                    Призывы в&nbsp;розыгрышах
            </h1>
            <a href='#about' class="column__btn">Подробнее</a>
        </div>
        <div class="column-2">
        <div class="cube">
            <div class="cube__top"></div>
            <div class="cube__wrapper">
              <span class="cube__wrapper-side" style="--i: 0"><img src='img/shuriken-logo.png' class="cube__wrapper-side__img"></span>
              <span class="cube__wrapper-side" style="--i: 1"><img src='img/shuriken-logo.png' class="cube__wrapper-side__img"></span>
              <span class="cube__wrapper-side" style="--i: 2"><img src='img/shuriken-logo.png' class="cube__wrapper-side__img"></span>
              <span class="cube__wrapper-side" style="--i: 3"><img src='img/shuriken-logo.png' class="cube__wrapper-side__img"></span>
            </div>
        </div>
    </div>
</main>