<section class="price" id="price">
    <div class="container">
        <div class="column">
            <div class="column__category">Стартовый</div>
            <div class="column__price">$3<span>/Месяц</span></div>
            <ul class="column__features">
                <li>All essential features</li>
                <li>Some basic integration</li>
                <li>Get security and support</li>
            </ul>
            <a href="" class="column__btn">Купить</a>
        </div>

        <div class="column">
            <div class="column__category">Стандартный</div>
            <div class="column__price">$10<span>/Месяц</span></div>
            <ul class="column__features">
                <li>All essential features</li>
                <li>Some basic integration</li>
                <li>Get security and support</li>
                <li>Get security and support</li>
                <li>Get security and support</li>
            </ul>
            <a href="" class="column__btn">Купить</a>
        </div>

        <div class="column">
            <div class="column__category">Продвинутый</div>
            <div class="column__price">$15<span>/Месяц</span></div>
            <ul class="column__features">
                <li>All essential features</li>
                <li>Some basic integration</li>
                <li>Get security and support</li>
                <li>Get security and support</li>
                <li>Get security and support</li>
                <li>Get security and support</li>
            </ul>
            <a href="" class="column__btn">Купить</a>
        </div>
    </div>
</section>