<section class="setup" id="setup">
    <h3 class="setup__title">Установка</h3>
    <div class="swiper">
        <div class="swiper-wrapper">
        <div class="swiper-slide"><p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Iure doloremque culpa quidem ea! Asperiores debitis iure 
          molestiae aut facere, iste architecto exercitationem, odit 
          cupiditate deserunt beatae soluta. Veritatis, dolores dolore!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Iure doloremque culpa quidem ea! Asperiores debitis iure 
          molestiae aut facere, iste architecto exercitationem, odit 
          cupiditate deserunt beatae soluta. Veritatis, dolores dolore!
        </p></div>
        <div class="swiper-slide"><p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Iure doloremque culpa quidem ea! Asperiores debitis iure 
          molestiae aut facere, iste architecto exercitationem, odit 
          cupiditate deserunt beatae soluta. Veritatis, dolores dolore!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Iure doloremque culpa quidem ea! Asperiores debitis iure 
          molestiae aut facere, iste architecto exercitationem, odit 
          cupiditate deserunt beatae soluta. Veritatis, dolores dolore!
        </p></div>
        <div class="swiper-slide"><p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Iure doloremque culpa quidem ea! Asperiores debitis iure 
          molestiae aut facere, iste architecto exercitationem, odit 
          cupiditate deserunt beatae soluta. Veritatis, dolores dolore!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Iure doloremque culpa quidem ea! Asperiores debitis iure 
          molestiae aut facere, iste architecto exercitationem, odit 
          cupiditate deserunt beatae soluta. Veritatis, dolores dolore!
        </p></div>
        </div>
        <div class="swiper-pagination"></div>
  </div>
</section>