<header class="header">
    <nav class="nav">
        <a href="" class="nav__brand">Shuriken</a>
        <div class="nav__burger animate__animated">
            <span></span>
        </div>
        <ul class="nav__links">
            <li class="nav__links-item"><a href="#about" class="">Что такое Shuriken?</a></li>
            <li class="nav__links-item"><a href="#features" class="">Преимущество</a></li>
            <li class="nav__links-item"><a href="#setup" class="">Установка</a></li>
            <li class="nav__links-item"><a href="#price" class="">Цены</a></li>
            <li class="nav__links-item"><a href="#contacts" class="">Контакты</a></li>
        </ul>
    </nav>
</header>