.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 32px;
    padding: 10px;
    background: $bg-1;
    .rights {
        font-size: 14px;
        color: $title;
    }
    .social {
        display: flex;
        flex-wrap: wrap;
        font-size: 16px;
        list-style: none;
        gap: 30px;
        li {
            &:hover {
                opacity: 80%;
            }
        }
    }
}